
@{
    ViewBag.Title = "GioHangTrong";
    Layout = "~/Views/Shared/ShopThoiTrang.cshtml";
}
<br />
<div class="container">
    <h1 style="text-align:center">Giỏ Hàng Trống</h1>
    <b style="margin-left:500px">Tiếp Tục<a href="@Url.Action("Index","ThoiTrang")"> Mua Sắm</a></b>
</div>
